.SideNavBar{
    display: flex;
    flex-direction: column;
    background: #FFF;
    height: 100%;
}

.Logo{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 6rem;
}

.NavMain{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.NavItems{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.NavBotPic{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.NavFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

